body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1;
    border-bottom:10px white;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid white;
    padding: 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: #FFBA2F;
    border-radius: 0;
    border-bottom: 10px solid #FFA5D4;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}

.hour {
    background-color: #ffffff;
    color: #000000;
}

.past {
    background-color: #d3d3d3;
    color: white;
}

.present {
    background-color: #ffb5dc;
    color: white;
}

.future {
    background-color: #b1edca;
    color: white;
}

.saveBtn {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #d3c4ff;
    color: white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
